<template name='groupItem'>
<div class="container-fluid">
		<div class="col-md-3 " id="group_item_left">
			<div id="group-title" class="text-center">
				<h4>{{groupData.name}}</h4>
			</div>
			<img src="{{groupData.logoUrl}}" class="img-responsive">
			<div class="" id="group-button">
			{{#if isGrouppAdmin}}
				<div class="btn btn-default " id="remove-group-but">Delete Group</div>
        {{#unless getEvent}}
          <div class="btn btn-default " id="create-event-but">Create Event</div>
        {{/unless}}
			{{/if}}
			</div>
		</div>
		<div class="col-md-9" id="group_item_right">
			<ul class="nav nav-tabs">
  				<li class="active"><a data-toggle="tab" href="#participants">Group Participants</a></li>
  				<li><a data-toggle="tab" href="#menu">Menu</a></li>
  				{{#if isGrouppAdmin}}
  					<li><a data-toggle="tab" href="#add-participants">Add Participants</a></li>
				{{/if}}
			</ul>
			<div class="tab-content">
  				<div id="participants" class="tab-pane fade in active">
  					<ul class="list-unstyled">
  						{{#with groupData.admin}}
  							<li>
    							<i class="fa fa-user" aria-hidden="true"></i>
    							{{profile.name}}
    								<span class="pull-right">admin</span>
    							<hr>
    						</li>
  						{{/with}}
  						{{#each groupData.groupParticipants}}
    						<li>
    							<i class="fa fa-user" aria-hidden="true"></i>
    							{{profile.name}}
    							{{#if isGrouppAdmin}}
    								<i class="fa fa-user-times pull-right btn remove-participant-but" id={{_id}}></i>
    							{{/if}}
    							<hr>
    						</li>
    					{{/each}}
  					</ul>
  				</div>
  				<div id="menu" class="tab-pane fade">
   				 	   <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Price</th>
                     
                  </tr>
                </thead>
                <tbody>
                  {{#if groupData.menu}}
                   {{#each groupData.menu}}
                       <tr>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                        <td><i class="fa fa-times pull-right btn remove-menu-but" name={{name}}></i></td>
                      </tr>
                   {{/each}}
                  {{else}}
                      <h4>Menu is empty</h4>
                  {{/if}}
              </tbody>
            </table>
             <form class="form-inline">
                <div class="form-group">
                    <label for="email">Name</label>
                    <input type="text" class="form-control" id="name-of-pizza-in">
                </div>
                <div class="form-group">
                    <label for="pwd">Price</label>
                    <input type="text" class="form-control" id="price-in">
                </div>
                <button class="btn btn-default" id="add-menu-but">Add</button>
            </form>
  				</div>
  				<div id="add-participants" class="tab-pane fade">
    				<ul class="list-unstyled">
    					{{#each addParticipantsList}}
    						<li>
    							<i class="fa fa-user" aria-hidden="true"></i>
    							{{profile.name}}
    							{{#if isGrouppAdmin}}
    							<i class="fa fa-user-plus pull-right btn add-participant-but" id={{_id}}></i>
    							{{/if}}
    							<hr>
    						</li>
    					{{/each}}
    				</ul>
    				
  				</div>
			</div>
		</div>
</div>
</template>