<template name="createGroup">
		<div class="row" >
			<div class="col-md-6 col-md-offset-3" id="create-group-page">
				<form>
					<div class="form-group">
						<label>Name Group</label>
						<input type="text" name="group-name" class="form-control">
					</div>
					<div class="form-group">
						<label>Select Logo</label>
						<input type="file" name="group-logo">
					</div>		
					<div class="btn btn-default" id="create_group_but" data-dismiss="modal">
						Create Group
					</div>
				</form>			
			</div>
		</div>				
</template>