hr{
	margin: 10px;
}
#create-group-page{
	padding: 20px;
	margin-top: 10px;
	border: 1px solid silver;
	border-radius: 2px;
}
#group_item_left{
	background: #fff
}
#group_item_right .nav-tabs{
	margin-left: 0;
}
#group-title{
	background: #fff;
}
#group_item_right{
	background: #fff;
	border-left: 5px solid #F7F6F3;
	padding: 0;
	height: 600px;
}
#group_item_right .tab-content{
	margin: 10px;
}
#group-title{
	/*margin: 5px;*/
}
#group-button{
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

#price-in{
	width: 100px;
}
#add-menu-but{
	width: 100px;
}